# Python
__pycache__/
*.py[cod]
*.egg-info/
backend/venv/
backend/*.db

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
*.lock

# Web
web/node_modules/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
